In [2]:
import sys
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split

In [6]:
names = ['n_pregnant', 'glucose_concentration', 'blood_pressure (mm Hg)', 'skin_thinckness (mm)', 'serum_insulin (mu U/ml)'
        'BMI', 'pedigree_function', 'age', 'class']
df = pd.read_csv('datasets_228_482_diabetes.csv')

In [7]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [13]:
# determine the columns with missing values
df[df['BloodPressure'] == 0].shape

(35, 9)

In [16]:
# preprocess the data
# remove the rows with missing values from relevent columns
columns = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
for c in columns:
    df[c].replace(0, np.NaN, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'decribe'

In [17]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [18]:
# drop the rows with NaN vlues
df.dropna(inplace=True)
df. describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,3.301020,122.627551,70.663265,29.145408,156.056122,33.086224,0.523046,30.864796,0.331633
std,3.211424,30.860781,12.496092,10.516424,118.841690,7.027659,0.345488,10.200777,0.471401
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,21.000000,76.750000,28.400000,0.269750,23.000000,0.000000
50%,2.000000,119.000000,70.000000,29.000000,125.500000,33.200000,0.449500,27.000000,0.000000
75%,5.000000,143.000000,78.000000,37.000000,190.000000,37.100000,0.687000,36.000000,1.000000
max,17.000000,198.000000,110.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [19]:
# convert the data to numpy array
data = df.values
print(data.shape)

(392, 9)

In [25]:
# extract the input and lebels 
x = data[:, 0:-1]
y = data[:, -1].astype(int)
print(x.shape)
print(y.shape)

(392, 8)
(392,)

In [33]:
# normalize and standardize the data
from sklearn.preprocessing import StandardScaler

stand = StandardScaler().fit(x)
standardizeData = stand.transform(x)

data = pd.DataFrame(standardizeData) 
data.describe()

,0,1,2,3,4,5,6,7
count,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02
mean,-4.021726e-17,3.129583e-17,-4.641624e-16,1.042250e-16,6.485742e-17,1.543550e-16,3.880116e-17,1.028089e-16
std,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00
min,-1.029213e+00,-2.161731e+00,-3.739001e+00,-2.108484e+00,-1.196867e+00,-2.120941e+00,-1.269525e+00,-9.682991e-01
25%,-7.174265e-01,-7.665958e-01,-6.941640e-01,-7.755315e-01,-6.681786e-01,-6.676780e-01,-7.340909e-01,-7.719850e-01
50%,-4.056403e-01,-1.176959e-01,-5.314565e-02,-1.384444e-02,-2.574448e-01,1.621036e-02,-2.131475e-01,-3.793569e-01
75%,5.297185e-01,6.609841e-01,5.878727e-01,7.478426e-01,2.859877e-01,5.718696e-01,4.751644e-01,5.040564e-01
max,4.271153e+00,2.445459e+00,3.151946e+00,3.223325e+00,5.812990e+00,4.846172e+00,5.497667e+00,4.921123e+00

### Hyperparameter Grid search

In [34]:
# import the modules
from sklearn.model_selection import GridSearchCV, KFold
from tensorflow.keras.layers import Dense
from tensorflow.keras import Model
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from tensorflow.keras.optimizers import Adam

In [39]:
# define the model
def MyModel():
    inputs = tf.keras.Input(shape=(8))
    x = Dense(8, kernel_initializer='normal', activation='relu')(inputs)
    x = Dense(4, kernel_initializer='normal', activation='relu')(x)
    outputs = Dense(1, activation='sigmoid')(x)
    model = Model(inputs=inputs, outputs=outputs, name='Deep_Model')
    
    optimizer = Adam(lr = 0.01)
    loss = 'binary_crossentropy'
    model.compile(loss=loss, optimizer=optimizer, metrics=['accuracy'])
    return model

In [43]:
model = MyModel()
model.summary()

Model: "Deep_Model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 8)]               0
_________________________________________________________________
dense_9 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_10 (Dense)             (None, 4)                 36
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 5
=================================================================
Total params: 113
Trainable params: 113
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# set a seed
seed = 1
np.random.seed(seed)


# define the model
def MyModel(lr, n1, n2, activation, init):
    inputs = tf.keras.Input(shape=(8))
    x = Dense(n1, kernel_initializer=init, activation=activation)(inputs)
    x = Dense(n2, kernel_initializer=init, activation=activation)(x)
    outputs = Dense(1, activation='sigmoid')(x)
    model = Model(inputs=inputs, outputs=outputs, name='Deep_Model')
    
    optimizer = Adam(lr = lr)
    loss = 'binary_crossentropy'
    model.compile(loss=loss, optimizer=optimizer, metrics=['accuracy'])
    return model

# create KerasClassifier model
model = KerasClassifier(build_fn=MyModel, verbose=0)

# set the grid search parameters
batch_size = [8, 16, 32]
epochs = [10, 50, 100]
lr = [0.001, 0.005, 0.01]
n1 = [4, 8, 16, 32]
n2 = [2, 4, 8, 16]
activation = ['relu', 'softmax', 'tanh', 'linear']
init = ['uniform', 'normal', 'zero']

# make a dictionary of grid search parameters
params = dict(batch_size=batch_size, epochs=epochs, activation=activation, init=init, lr=lr, n1=n1, n2=n2)

# make and fit the grid search model
gridModel = GridSearchCV(estimator=model, param_grid=params, cv=KFold(random_state=seed), refit=True, verbose=10)
gridSearchResults = gridModel.fit(standardizeData, y)

# print some of the results
print('Best: {} Using: {}'.format(gridSearchResults.best_score_, gridSearchResults.best_params_))

In [73]:
means = gridSearchResults.cv_results_['mean_test_score']
stds = gridSearchResults.cv_results_['std_test_score']
parameters = gridSearchResults.cv_results_['params']
results = list(zip(means, stds, parameters))
results.sort(reverse=True)
for i in range(0, 10):
    print(results[i])

(0.7860759496688843, 0.06960601833387184, {'batch_size': 32, 'epochs': 100})
(0.7810451030731201, 0.08096022229267262, {'batch_size': 32, 'epochs': 50})
(0.780947744846344, 0.07248761808054073, {'batch_size': 16, 'epochs': 50})
(0.773255443572998, 0.06027661428821877, {'batch_size': 8, 'epochs': 100})
(0.7708536028862, 0.08684858238763841, {'batch_size': 8, 'epochs': 10})
(0.7630314826965332, 0.06546411157438306, {'batch_size': 8, 'epochs': 50})
(0.7581304669380188, 0.09818230483765127, {'batch_size': 16, 'epochs': 10})
(0.752742612361908, 0.03873937183656612, {'batch_size': 16, 'epochs': 100})
(0.7374878287315368, 0.08763968331402333, {'batch_size': 32, 'epochs': 10})

IndexError: list index out of range

In [65]:
Ziped = list(zip(means, stds, parameters))

In [66]:
Ziped.sort(reverse=True)

In [67]:
print(Ziped)

[(0.7860759496688843, 0.06960601833387184, {'batch_size': 32, 'epochs': 100}), (0.7810451030731201, 0.08096022229267262, {'batch_size': 32, 'epochs': 50}), (0.780947744846344, 0.07248761808054073, {'batch_size': 16, 'epochs': 50}), (0.773255443572998, 0.06027661428821877, {'batch_size': 8, 'epochs': 100}), (0.7708536028862, 0.08684858238763841, {'batch_size': 8, 'epochs': 10}), (0.7630314826965332, 0.06546411157438306, {'batch_size': 8, 'epochs': 50}), (0.7581304669380188, 0.09818230483765127, {'batch_size': 16, 'epochs': 10}), (0.752742612361908, 0.03873937183656612, {'batch_size': 16, 'epochs': 100}), (0.7374878287315368, 0.08763968331402333, {'batch_size': 32, 'epochs': 10})]

In [71]:
print(Ziped[1])

(0.7810451030731201, 0.08096022229267262, {'batch_size': 32, 'epochs': 50})